[[source]]
url = "https://artifactory-developer:AP5bWdhoJh3S5yHbcCr57uLt35d@husqvarnadss.jfrog.io/husqvarnadss/api/pypi/big-data-pypi/simple"
verify_ssl = true
name = "artifactory"

[dev-packages]
pep8 = "*"
pytest = "*"
pytest-watch = "*"
pydocstyle = "*"
autopep8 = "*"
pylint = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
py4j = "*"
pyspark = "*"

[requires]
python_version = "3.5"
